:root {
  --dark-color: #111;
  --light-color: #f3f3f3;
  --medium-color: #bbb;
  --border-color: #ddd;
  --main-color: #0074d9;
  --error-color: #ff4136;
  --border-radius: 4px;
  --drab-dark-brown-color: #474723;
  --drab-dark-brown-second-color: #494331;
  --moss-green-color: #8f8f6a;
  --dutch-white-color: #d6d6b1;
  --fern-green-color: #325d2f;
  --reseda-green-color: #6c6c4b;
  --olive-color: #898236;
  --hunter-green-color: #426a40;
}

@keyframes blockFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes greenBlock {
  50% {
    background-color: var(--moss-green-color);
  }
  51%,
  100% {
    background-color: var(--hunter-green-color);
  }
}

@keyframes yellowBlock {
  50% {
    background-color: var(--moss-green-color);
  }
  51%,
  100% {
    background-color: var(--olive-color);
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: var(--drab-dark-brown-color);
  font-family: sans-serif;
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

.menu {
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.menu h1,
.menu p {
  color: var(--dutch-white-color);
  text-transform: uppercase;
  font-size: 3em;
}

.menu #menu-btn {
  display: flex;
  gap: 15px;
}

.menu button {
  background-color: var(--hunter-green-color);
  color: var(--dutch-white-color);
  font-size: 5vh;
  border-radius: 15px;
  padding: 12px;
  border: 0;
  transition: background-color 0.4s, color 0.4s;
  text-transform: uppercase;
  font-weight: bolder;
}

.menu button:hover {
  background-color: var(--dutch-white-color);
  color: var(--fern-green-color);
  cursor: pointer;
}

.menu #menu-game-words {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  gap: 2vw;
  justify-content: space-evenly;
  align-items: center;
}

.word {
  border-collapse: separate;
  border-spacing: 3px 3px;
}

.word tr td {
  color: var(--drab-dark-brown-color);
  font-size: 55px;
  font-weight: bolder;
  padding: 0;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background-color: var(--reseda-green-color);
  text-align: center;
  vertical-align: middle;
}

.word .usedRow td {
  background-color: var(--moss-green-color);
}

.word tr .selectedPosition {
  background-color: var(--dutch-white-color);
}

.word tr [color='greenBlock'] {
  animation: greenBlock 0.5s linear forwards, blockFlip 0.5s linear forwards;
}

.word tr [color='yellowBlock'] {
  animation: yellowBlock 0.5s linear forwards, blockFlip 0.5s linear forwards;
}

.word tr [color='missedBlock'] {
  animation: blockFlip 0.5s linear forwards;
}
