:root {
  --dark-color: #111;
  --light-color: #f3f3f3;
  --medium-color: #bbb;
  --border-color: #ddd;
  --main-color: #0074d9;
  --error-color: #ff4136;
  --border-radius: 4px;
  --drab-dark-brown-color: #474723;
  --drab-dark-brown-second-color: #494331;
  --moss-green-color: #8f8f6a;
  --dutch-white-color: #d6d6b1;
  --fern-green-color: #325d2f;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: var(--drab-dark-brown-color);
  font-family: sans-serif;
  color: var(--dark-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.word {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.word tr td {
  text-align: center;
  color: var(--drab-dark-brown-color);
  font-size: 15vh;
  font-weight: bolder;
  padding: 0;
  /* padding: 10px; */
  /* min-width: 20px; */
  height: 20vh;
  width: 20vh;
  /* min-height: 400px; */
  border-radius: 10px;
  background-color: var(--moss-green-color);
}

.word .selectedPosition {
  background-color: var(--dutch-white-color);
}

.word tr [color='greenBlock'] {
  background-color: #426a40;
}

.word tr [color='yellowBlock'] {
  /* color: #d3c317; */
  background-color: #898236;
}
